* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #fff;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.content-about {
    max-width: 1250px;
    margin: auto;
    font-size: 20px;
    padding: 0 30px;
    width: 100%;
}

.navbar {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #007bff;
    font-family: Bradley Hand ITC;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #007bff;
    font-size: 18px;
    font-weight: 520;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #083565;
}

.banner {
    background: url("../images/earth.gif") no-repeat;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.banner1 {
    background: url("../images/up.gif") no-repeat;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.icon {
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

label.brand2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    font-family: Algerian;
    margin-top: -1em;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (max-width: 1500px) {}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    .content-about p {
        font-size: 15px;
    }

    .banner {
        max-width: 100%;
    }

    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 18px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }

    #contact {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../images/cont.jpg) no-repeat;
        background-size: cover;
    }

    #frame {
        display: none;
        width: 100%;
        margin-top: 25%;
    }

    .content-about1 p {
        font-size: 20px;
    }

    #about .left {
        background-color: rgb(27, 98, 126);
        color: white;
        width: 40%;
        height: 80vh;
        border-radius: 5em 3em 4em / 0.5em 3em;
    }

    #about .right {
        background-color: #fff;
        width: 60%;
        height: 50vh;
    }

    footer {
        background-color: rgb(27, 98, 126);
        justify-content: space-around;
        height: 100vh;
        max-width: 100%;
        display: flex;
        flex-direction: row;
    }

    .footerMenu ul li {
        display: none;
    }

    .board3 p {
        display: none;
    }

    .board3 h3 {
        display: none;
    }

    .board h5 {
        display: none;
    }
}

@media (max-width: 480px) {
    .banner {
        margin: 0% auto;
    }

    .body-section,
    .about-section,
    .contact-section,
    footer {
        margin: 5% auto;
    }

    .brand2 h4,
    .brand3 h2 {
        display: none;
    }

    .content-about1 p {
        font-size: 15px;
    }

    .about-icon i {
        font-size: 15px;
    }

    .content-about p {
        font-size: 10px;
        max-width: 100%;
        /* Adjusted to fit smaller screens */
    }

    .content-about h2 i {
        font-size: 15px;
    }

    .about-article h2 {
        font-size: 5px;
    }

    #about .left {
        height: 50vh;
    }

    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
}


.body-section {
    margin-top: 0%;
    height: 100vh;
    width: 100%;
}

footer {
    background-color: rgb(27, 98, 126);
    justify-content: space-around;
    height: 40vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;

}

.footerMenu {
    display: flex;
}

.footerMenu ul {

    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.footerMenu li {
    border: 1px solid black;
    font-size: 14px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    list-style: none;
    height: 34px;
}

.footerMenu a {
    display: inline-block;
    padding: 10px;
    margin: 10 40px;
    text-align: center;
    color: rgb(238, 232, 232);
}

.board {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.board2 {
    font-size: 20px;
    margin-top: 0.5em;
}

.board2 h4 {
    display: flex;
    color: white;
    margin-top: -25px;
    margin-left: 25px;
}

.board3 {
    text-align: center;
    color: white;
    font-weight: 30px;
}

#copy {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.about-section {
    margin-top: 0%;
    height: 100vh;
    width: 100%;
}

#about {
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: center;
    justify-content: space-around;
}

#about .left {
    background-color: rgb(27, 98, 126);
    color: white;
    width: 40%;
    text-align: center;
    height: 80vh;
    border-radius: 5em 3em 4em / 0.5em 3em;
}

#about .right {
    background-color: #fff;
    font-size: 25px;
    width: 60%;
    height: 50vh;

}

#about img {
    width: 30%;
    margin-top: -80px;
    background-color: white;
    border-radius: 100%;
}

.about-article h4 {
    font-size: 25px;
}



/* treding post */

.containerPosts {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    margin-top: auto;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);

}

.slider-wrapper .slide-button:hover {
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}


.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;

}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.contact-section {
    margin-top: 10%;
}

#contact {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: url(../images/cont.jpg) no-repeat;
    background-size: cover;
}

#mess {
    height: 170px;
    width: 100%;
    background-color: transparent;
    color: white;
}

.submit-btn {
    background-color: darkblue;
    color: white;
    text-align: left;
    width: 122px;
    height: 20px;
    font-family: argelian;
    font-weight: 100px;
}

.submit-btn::after {
    background-color: rgb(104, 104, 153);
}

.submit-btn:hover {
    background-color: rgb(104, 104, 153);
}

#tcontact {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#tTable {
    background-color: #222;
    border-radius: 10px;
    width: 100%;
    height: 20em;
}

input[type=text] {
    width: 100%;
    height: 6vh;
    background-color: transparent;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

.contactinfo h1 {
    font-size: 36px;
    font-weight: 500;
    color: white;
    font-family: algerian;
}

.contactinfo .h3 {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#frame {
    margin-top: 25%;
}

span {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    color: white;
    font-weight: bold;

}

.btn-secondary {
    width: 100px;
    height: 30px;
    color: #007bff;
}

.btn-secondary:hover {
    height: 35px;
}

.card-title {
    color: #007bff;
}

.text-center {
    color: rgb(9, 125, 9);
}

.card-text {
    font-family: algerian;
}

/* Css for services */

.service_section {
    padding: 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading_container {
    height: 20vh;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-6,
.col-md-4 {
    position: relative;
    width: 33%;
    padding-right: 15px;
    padding-left: 15px;
}

.box {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 15px;
    margin-bottom: 20px;
}

.img-box {
    text-align: center;
}

.img-box img {
    max-width: 50%;
    height: auto;
}

.img-box .IconColor {
    color: black;
    max-width: 50%;
    height: auto;
    font-size: 200px;
    margin: auto;
}

.img-box:hover {
    background: lightblue;
}

.detail-box h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.detail-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-box {
    text-align: center;
    height: 20vh;
}

.btn-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

.btn-box a:hover {
    background-color: #0056b3;
}