* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#container {
    padding: 0 1em;
}

body {
    font-family: montserrat;
    background-color: white;
}

.menus {
    background-color: rgb(27, 98, 126);
    display: flex;
    position: fixed;
    width: 100%;
}

.menus ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin-left: 35rem;
}

/*@media only screen and (max-width: 1500px) {
    .menus {
        display: flex;
        width: 100%;
        background-color: white;
    }

    .menus ul {
        display: flex;
        margin-left: 12rem;
    }

    .menus li {
        list-style-type: none;
    }

    .menus a {
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        padding: 2px;
        margin: 1rem;
        text-decoration: none;
        color: black;
    }

    label.brand {
        font-weight: bold;
        font-size: 2px;
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .menus {
        display: flex;
        width: 100%;
        background-color: white;
    }

    .menus ul {
        display: flex;
        margin-left: 0px;
    }

    .menus li {
        list-style-type: none;
    }

    .menus a {
        display: inline-block;
        font-size: 10px;
        text-align: center;
        padding: 2px;
        margin: -0.7rem;
        text-decoration: none;
        color: black;
    }

    label.brand {
        font-weight: bold;
        font-size: 2px;
        display: none;
    }
}*/

.menus li {
    font-size: 22px;
    list-style-type: none;
}

.menus a {
    display: inline-block;
    padding: 25px;
    margin: 10 60px;
    text-align: center;
    text-decoration: none;
    color: rgb(238, 232, 232);
}

label.brand {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    font-family: Algerian;
    margin-top: 0.5em;
    margin-left: 1.5em;
}

label.brand2 {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    font-family: Algerian;
    margin-top: -1em;
}

#img {
    margin-top: 5.5em
}

#home-Body {
    display: flex;
    flex-wrap: wrap;
}

#home-Body div {
    margin: auto;
}

#pra {
    color: white;
    margin-top: 7rem;
}

input[type=button] {
    height: 40px;
    width: 100px;
    background-color: white;

}

input[type=button]:active {
    height: 40px;
    width: 105px;
    background-color: green;
}

footer {
    background-color: rgb(27, 98, 126);
    justify-content: space-around;
    height: 15em;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.footerMenu {
    display: flex;
}

.footerMenu ul {

    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.footerMenu li {
    border: 1px solid black;
    font-size: 14px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    height: 34px;
}

.footerMenu a {
    display: inline-block;
    padding: 10px;
    margin: 10 40px;
    text-align: center;
    color: rgb(238, 232, 232);
}

.board {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.board2 {
    font-size: 20px;
    margin-top: 0.5em;
}

.board2 h4 {
    display: flex;
    color: white;
    margin-top: -25px;
    margin-left: 25px;
}

.board3 {
    text-align: center;
    color: white;
    font-weight: 30px;
}

#copy {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#about-section {
    margin-top: 10em;
    height: 100%;
}

#about {
    display: flex;
    flex-direction: row;
    margin-left: 20em;
}

#about .left {
    background-color: rgb(27, 98, 126);
    color: white;
    width: 40%;
    height: 50em;
}

#about .right {
    background-color: white;
    font-size: 25px;
    margin-left: 2em;
    width: 50%;

}

#about img {
    width: 15em;
    height: 15em;
    margin-top: -7em;
    margin-left: 8em;
    border-radius: 100%;
}

#services-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#services-image img {
    width: 300px;
    height: 300px;
    border: 4px solid black;
    border-radius: 100%;


}

#service-body {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#service-body div li {
    list-style-type: '👉';
}

.sweetH {
    background: linear-gradient(to bottom, rgb(27, 98, 126) 0%, rgb(27, 98, 126) 100%);
    height: 10em;
    width: 10em;
    clip-path: polygon(100% 100%,
            100% 0%,
            0% 100%,
            0% 0%);
    margin-left: -3em;
    border-radius: 80px;
}

#contact {
    width: 45em;
    height: 40em;
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(27, 98, 126);

}

#contact div {
    margin: 0 100px;
}

input[type=text] {
    height: 50px;
    width: 294px;
    background-color: white;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

#mess {
    height: 170px;
    width: 100%;
    background-color: white;
}

#tcontact {
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

#tTable {
    background-color: rgb(27, 98, 126);
    height: 20em;
}

#frame {
    margin-top: 6em;
}

#skill {
    display: flex;
    flex-wrap: wrap;
}

#skill div {
    margin: auto;
}

.skillPra {
    color: black;
    font-weight: bold;
    display: flex;
    margin-left: 2.5em;
    margin-top: 2em;
}

.skillPr {
    color: black;
    font-weight: bold;
    display: flex;
}

#pra1 {
    background-color: darkgrey;
    height: 8.33%;
    width: 35%;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}

#pra2 {
    background-color: darkgrey;
    height: 8.33%;
    width: 35%;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}

#mbody {
    color: black;
}

.progress {
    height: 10px;
    width: 30em;
    background-color: white;
    border-radius: 10px;
}

span {
    font-size: 14px;
    color: white;
    font-weight: bold;

}

#lang {
    color: white;
}

input[type=text] {
    width: 50em;
    height: 6vh;
    background-color: white;
    text-align: center;
}

#mess {
    height: 170px;
    width: 100%;
    background-color: white;
}

#porto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
    margin: 0 22px;
}

#protfolio {
    text-align: center;
}

#blogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#blogContainer .blogItem {
    margin: 2rem;
    padding-left: -10%;
}

#blogContainer img {
    height: 400px;
    width: 350px;
}

#blogContainer div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.likes {
    padding-right: 50px;
}

.submit-btn {
    margin-left: 17rem;
}

@media(max-width:400px) {
    .taggle-botton {
        display: flex;

    }

    nav {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav ul {
        width: 100%;
        flex-direction: column;
    }

    .nav ul li {
        text-align: center;
    }

    .nav ul li {
        padding: .5rem 1rem;
    }

}